* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
:root {
  --bgColor: #261321;
  --primary: #c6a9aa;
  --secondary: #9e4268;
}

.altFarver {
  --bgColor: #c6a9aa;
  --primary: #261321;
  --secondary: #9e4268;

  Footer {
    img {
      filter: brightness(0) saturate(100%) invert(9%) sepia(11%) saturate(2490%) hue-rotate(264deg) brightness(93%) contrast(97%);
    }
  }
  .sideBar {
    img {
      filter: invert(100%);
    }
  }
}

@font-face {
  font-family: pg;
  src: url("../fonts/protogrotesk-regular.otf") format("opentype");
}
@font-face {
  font-family: pgBold;
  font-weight: 800;
  src: url("../fonts/protogrotesk-bold.otf") format("opentype");
}
@font-face {
  font-family: pgLight;

  src: url("../fonts/protogrotesk-light.otf") format("opentype");
}
* {
  font-family: pgLight;
}
body {
  background-color: var(--bgColor);
  color: var(--primary);
}
main {
  margin: auto;
  padding: 0 6rem;
}
a {
  color: var(--primary);
  text-decoration: none;
}
a:hover {
  color: var(--secondary);
}
h1 {
  font-size: 7rem;
  line-height: 6rem;
}
p {
  max-width: 65ch;
  text-wrap: auto;
}
#abningstider {
  background-color: var(--bgColor);
  h2 {
    font-size: 1.2rem;
  }
  font-size: 0.7rem;
  padding: 5px;
  border: 2px var(--primary) solid;
  border-radius: 5px;
  ul {
    list-style: none;
    li {
      display: flex;
      justify-content: space-between;

      border: 4px var(--primary);
      border-bottom: solid;
    }
  }
  transition: 0.5s ease-in-out;
}
#abningstider:hover {
  transform: scale(1.6) translate(0%, 20%);
}

#sociale {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50vh;
  right: 20px;
  height: 150px;
  justify-content: space-between;
  align-items: center;

  i {
    width: 30px;
    transform: scale(1.5);
  }
  i:hover {
    color: var(--secondary);
    cursor: pointer;
  }
}
